<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmn.mapper.CustomerMapper">

    <sql id="selectCustomerListWhere">
        <where>
            <if test="cust_name!=null">
                cust_name LIKE "%"#{cust_name}"%"
            </if>
            <if test="cust_source!=null">
                AND cust_source=#{cust_source}
            </if>
            <if test="cust_industry!=null">
                AND cust_industry=#{cust_industry}
            </if>
            <if test="cust_level!=null">
                AND cust_level=#{cust_level}
            </if>

        </where>
    </sql>

    <!--//总条数-->
    <!--public Integer customerCountByQueryVo(QueryVo queryVo);-->

    <select id="queryCustomerCountByQueryVo" parameterType="QueryVo" resultType="Integer">
        SELECT COUNT (*) FROM customer
        <include refid="selectCustomerListWhere"/>
    </select>

    <!--//结果集-->
    <!--public List<Customer> selectCustomerListByQueryVo(QueryVo queryVo);-->

    <select id="selectCustomerListByQueryVo" parameterType="QueryVo" resultType="customer">
        	  SELECT
		a.cust_id,
		a.cust_name,
		a.cust_user_id,
		a.cust_create_id,
		b.dict_item_name cust_source,
		c.dict_item_name cust_industry,
		d.dict_item_name cust_level,
		a.cust_linkman,
		a.cust_phone,
		a.cust_mobile,
		a.cust_zipcode,
		a.cust_address,
		a.cust_createtime
	  FROM
		customer a
		LEFT JOIN base_dict b ON a.cust_source = b.dict_id
		LEFT JOIN base_dict c ON a.cust_industry = c.dict_id
		LEFT JOIN base_dict d ON a.cust_level = d.dict_id

      <include refid="selectCustomerListWhere"/>

        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

</mapper>